.tw_reviews_form
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  padding: 50px 0px

  form
    max-width: 500px
    width: 100%
    position: relative

    .loader
      top: 0
      left: 0
      background: rgba(255, 255, 255, 0.8)
      bottom: 0
      right: 0
      z-index: 999
      position: absolute
      display: none

    &.active
      .loader
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center

        img
          display: block
          max-width: 150px

    &.success
      .succes_text
        border-bottom: 1px solid #1acd00
        color: #1acd00
        font-weight: 800
        text-transform: uppercase
        font-size: 12px

    &.error
      .error_text
        border-bottom: 1px solid #cd0000
        color: #cd0000
        font-weight: 800
        text-transform: uppercase
        font-size: 12px

    p
      margin-bottom: 15px

    input[type="submit"]
      display: inline-block
      background: #FF7E77
      color: #fff
      padding: 14px 80px
      cursor: pointer
      text-transform: uppercase
      font-size: 14px
      -webkit-transition: 0.3s ease
      -o-transition: 0.3s ease
      transition: 0.3s ease
      border-radius: 8px
      max-width: 289px
      width: 100%
      border: none
      line-height: 1

    input[type="submit"]:hover
      background: #fb6d66
      -webkit-transition: 0.3s ease
      -o-transition: 0.3s ease
      transition: 0.3s ease

.tw_reviews_form form .succes_text,
.tw_reviews_form form .error_text
  display: none

.tw_reviews_form form.success .succes_text,
.tw_reviews_form form.error .error_text
  display: block

.example
  display: -ms-grid
  display: grid
  -webkit-transition: all .5s
  -o-transition: all .5s
  transition: all .5s
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black))
  background: -o-linear-gradient(top, white, black)
  background: linear-gradient(to bottom, white, black)
